{% extends 'base.html.twig' %}

{% block title %}Чаты{% endblock %}

{% block body %}
    <style>
        body, input {
            font: 15px/20px Arial, sans-serif;
        }

        #status {
            float: left;
            width: 10px;
            height: 10px;
            display: block;
            background: red;
            margin-right: 10px;
            margin-top: 7px;
            border-radius: 10px;
        }

        #status.connected {
            background: lightgreen;
        }

        #work-mode {
            display: none;
            float: right;
        }

        .session {
            border: 1px solid gray;
            margin: 5px;
            padding: 5px;
            cursor: pointer;
            border-radius: 10px;
            background: #eee;
        }

        .archive {
            float: right;
            cursor: pointer;
            display: none;
        }

        .new-message {
            background: purple;
            color: #fff;
        }

        .messages {
            border: 1px solid gray;
            border-radius: 10px;
            padding: 10px;
            overflow-y: scroll;
            height: 300px;
            background: #fff;
        }

        .message {
            clear: both;
            margin: 5px;
            float: left;
            max-width: 90%;
        }

        .operator {
            float: right;
        }

        .text {
            padding: 10px;
            background: #eee;
            border-radius: 10px;
        }

        .operator .text {
            background: #22ceb6;
            color: #fff;
        }

        .datetime {
            color: gray;
            font-size: 12px;
        }

        .form {
            margin: 5px 0;
        }

        header {
            overflow: hidden;
        }

        footer {
        }
    </style>

    <header>
        <div id="status"></div>
        <div>
            <select id="work-mode">
                <option>Бот</option>
                <option>Оператор</option>
            </select>
        </div>
    </header>

    <main>

    </main>

    <footer>
        <div class="session">
            <div class="archive">
                <img alt="Архивировать" src="/images/archive.png">
            </div>
            <div class="open">
                <span>Сообщений: <span class="message-count"></span></span> |
                <span>Последнее: <span class="last-message"></span></span> |
                <span>Чат начат: <span class="started"></span></span>
            </div>

            <div class="chat">
                <div class="messages">
                    <div class="message visitor">
                        <div class="datetime"></div>
                        <div class="text"></div>
                    </div>
                    <div class="message operator">
                        <div class="datetime"></div>
                        <div class="text"></div>
                    </div>
                </div>
                <div class="form">
                    <input type="text">
                    <button>&gt;</button>
                </div>
            </div>
        </div>
    </footer>

    <script>
        let socket;
        let status = false;
    </script>

    {% if local %}
        <script>let url = 'ws://localhost:3001/?operator=1';</script>
    {% else %}
        <script>let url = 'wss://xn--e1aybc.xn--24-6kchemaby3a4d4erbe.xn--p1ai:3002/?operator=1';</script>
    {% endif %}

    <script>
        function command(command) {
            command = JSON.stringify(command);
            socket.send(command);
        }

        function connect() {
            socket = new WebSocket(url);
            socket.onopen = function () {
                setStatus(true);
                command({command: 'get_work_mode'});
                command({command: 'get_sessions'});
            }
            socket.onmessage = function (event) {
                let message = JSON.parse(event.data);
                switch (message.command) {
                    case 'work_mode':
                        setWorkMode(message.work_mode);
                        break;
                    case 'session':
                        drawSession(message.session);
                        break;
                    case 'new_message':
                        drawMessage(message);
                        break;
                    case 'new_session':
                        drawSession(message.session, true);
                        break;
                    case 'upd_session':
                        updateSession(message);
                        break;
                }
            }
            socket.onerror = function (event) {
                setStatus(false);
                $('main').html('');
            }
            socket.onclose = function (event) {
                setStatus(false);
                $('main').html('');
            }
        }

        connect();

        setInterval(() => command({command: 'ping'}), 30000);

        function setWorkMode(workMode) {
            let select = document.getElementById('work-mode');
            switch (workMode) {
                case 'bot':
                    select.selectedIndex = 0;
                    break;
                case 'operator':
                    select.selectedIndex = 1;
            }
            $(select).show();
        }

        $('#work-mode').on('change', function () {
            let workMode;
            switch (this.selectedIndex) {
                case 0:
                    workMode = 'bot';
                    break;
                case 1:
                    workMode = 'operator';
            }
            command({
                command: 'set_work_mode',
                work_mode: workMode
            });
        })

        function setStatus(connected) {
            status = connected;
            if (connected) {
                $('#status').addClass('connected');
            } else {
                $('#status').removeClass('connected');
            }
        }

        setInterval(function () {
            if (!status) {
                connect();
            }
        }, 10000);

        function drawSession(session, prepend) {
            let $div = $('footer .session').clone(true, true);
            $div.attr('id', 'session-' + session.name);
            $('.open', $div).attr('data-session', session.name);
            $('.archive', $div).attr('data-session', session.name);
            $('.message-count', $div).html(session.message_count);
            $('.last-message', $div).html(session.last_message);
            $('.started', $div).html(session.started);
            $('.chat', $div).attr('id', 'chat-' + session.name).hide();
            $('.messages', $div).attr('id', 'messages-' + session.name).html('');
            $('input, button', $div).attr('data-session', session.name);
            $('input', $div).attr('id', 'text-' + session.name);
            if (session.has_new_message) {
                $div.addClass('new-message');
            }
            if (!prepend) {
                $('main').append($div);
            } else {
                $('main').prepend($div);
            }
        }

        $('.archive').on('click', function (event) {
        })

        $('.session .open').on('click', function () {
            $('#messages-' + this.dataset.session).html('');
            command({
                command: 'get_op_history',
                session: this.dataset.session
            });
            $('.chat').hide();
            $('#chat-' + this.dataset.session).show();
            $('#session-' + this.dataset.session).removeClass('new-message');
        })

        function drawMessage(message) {
            if ('none' !== $('#chat-' + message.session).css('display')) {
                let $messages = $('#messages-' + message.session);
                let $message = $('footer ' + (message.isOperator ? '.operator' : '.visitor')).clone();
                $('.text', $message).html(message.message);
                $('.datetime', $message).html(message.created);
                $messages.append($message);
                scrollToBottom(message.session);
            } else {
                $('#session-' + message.session).addClass('new-message').prependTo('main');
            }

            if (message.push_notification && 'hidden' === document.visibilityState) {
                regWorker(message.message);
            }
        }

        function scrollToBottom(session) {
            let chatMessages = document.getElementById("messages-" + session);
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }

        $('button').on('click', function () {
            let session = this.dataset.session;
            let text = $('#text-' + session).val();
            if ($.trim(text)) {
                sendMessage(session, text);
                $('#text-' + session).val('')
            }
        })

        $('input').on('keypress', function (event) {
            if (13 === event.keyCode) {
                let session = this.dataset.session;
                let text = this.value;
                if ($.trim(text)) {
                    sendMessage(session, text);
                    this.value = '';
                }
            }
        })

        function sendMessage(session, text) {
            command({
                command: 'add_op_message',
                session: session,
                message: text,
                name: 'Оператор',
                isOperator: true
            });

            if ($('main .session:first').attr('id') !== 'session-' + session) {
                $('#session-' + session).prependTo('main');
            }
        }

        function updateSession(message) {
            console.log(message);
            let $div = $('#session-' + message.session);
            if ($div.length) {
                $('.message-count', $div).html(message.message_count);
                $('.last-message', $div).html(message.last_message);
            }
        }

        let width = $('.messages').width();
        $('.form input').width(width - 42);
        $('footer').hide();
    </script>

    <script>
        // (A) OBTAIN USER PERMISSION TO SHOW NOTIFICATION
        window.onload = () => {
            // (A1) ASK FOR PERMISSION
            if (Notification.permission === "default") {
                Notification.requestPermission().then(perm => {
                    if (Notification.permission === "granted") {
                        console.log('granted')
                    } else {
                        alert("Please allow notifications.");
                    }
                });
            }

            // (A2) GRANTED
            else if (Notification.permission === "granted") {
                console.log('granted')
            }

            // (A3) DENIED
            else { alert("Please allow notifications."); }
        };

        // (B) REGISTER SERVICE WORKER
        async function regWorker (message) {
            // (B1) YOUR PUBLIC KEY - CHANGE TO YOUR OWN!
            const publicKey = "BLEju4fZBvCwAJya8gG9rIqwgKpgqQPHPMk6BOwEyDei-2blAOU2yI3v04wp5d1ktwqdz1F8KTB1GfVUkFEMADE";

            // (B2) REGISTER SERVICE WORKER
            navigator.serviceWorker.register("/sw1.js", {scope: "/"});

            // (B3) SUBSCRIBE TO PUSH SERVER
            navigator.serviceWorker.ready
                .then(reg => {
                    reg.pushManager.subscribe({
                        userVisibleOnly: true,
                        applicationServerKey: publicKey
                    }).then(
                        // (B3-1) OK - TEST PUSH NOTIFICATION
                        sub => {
                            var data = new FormData();
                            data.append("sub", JSON.stringify(sub));
                            data.append("message", message);
                            fetch("/web-notification/push1", { method: "POST", body : data })
                                .then(res => res.text())
                                .then(txt => console.log(txt))
                                .catch(err => console.error(err));
                        },

                        // (B3-2) ERROR!
                        err => console.error(err)
                    );
                });
        }
    </script>
{% endblock %}
