{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<h1>Chat</h1>
    <h2><a href="{{ path('app_desktop') }}">desktop</a></h2>
    <h2><a href="{{ path('app_mobile') }}">mobile</a></h2>
    <h2><a href="{{ path('app_mobile_all') }}">mobile all</a></h2>
{% endblock %}
