{% extends 'base.html.twig' %}

{% block title %}Чаты{% endblock %}

{% block body %}
    <div class="container"><h1 align="center">Чат</h1>
        <h2><a href="{{ path('app_chat') }}">Сегодня</a></h2>
        <h2><a href="{{ path('app_recent') }}">Недавние</a></h2>
        <h2><a href="{{ path('app_settings') }}">Настройки</a></h2>
        <h2><a href="{{ path('app_archive') }}">Архив</a></h2>
    </div>
{% endblock %}
