{% extends 'base.html.twig' %}

{% block title %}Чаты{% endblock %}

{% block body %}
    <style>
        body {
            font: 15px/17px Arial, sans-serif;
        }
        aside {
            width: 300px;
            float: left;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            height: 100%;
        }
        #status {
            font-weight: bold;
            color: red;
        }
        header {
            border-bottom: 1px solid #000;
        }
        .session {
            border-bottom: 1px solid #000;
            padding: 5px;
        }
        #empty-session {
            border: none;
        }
    </style>

    <header>
        <div id="status">DISCONNECTED</div>
    </header>

    <aside>
        <span class="session" id="empty-session"></span>
    </aside>

    <main>

    </main>

    {% if local %}
        <script>const socket = new WebSocket("ws://localhost:3001");</script>
    {% else %}
        <script>const socket = new WebSocket("wss://xn--e1aybc.xn--24-6kchemaby3a4d4erbe.xn--p1ai:3002");</script>
    {% endif %}

    <script>
        socket.addEventListener("open", function () {
            $('#status').html("CONNECTED");
            const command = {
                command: 'get_sessions'
            };
            socket.send(JSON.stringify(command));
        });

        socket.addEventListener("message", function (e) {
            const message = JSON.parse(e.data);
            switch (message.type) {
                case 'session':
                    addSession(message.session);
                    break;
            }
        });

        function addSession(session) {
            let html = '<div class="session"><b>' + session.id + '</b><br><span class="started">'
                + session.started + '</span><br><a href="#' + session.id + '">перейти к диалогу</a>'
                + '<br><i><small>' + session.name + '</small></i></div>';
            $('aside .session:last').after(html);
        }

        socket.addEventListener("close", function () {
            $('#status').html("DISCONNECTED");
        });

    </script>
{% endblock %}
