{% extends 'base.html.twig' %}

{% block title %}Чаты{% endblock %}

{% block body %}
<h1>Чат</h1>
    <h2><a href="{{ path('app_desktop') }}">Настройки</a></h2>
    <h2><a href="{{ path('app_mobile') }}">Сегодня</a></h2>
    <h2><a href="{{ path('app_mobile_all') }}">Архив</a></h2>
{% endblock %}
