{% extends 'base.html.twig' %}

{% block title %}Настройки{% endblock %}

{% block body %}
    <h1 align="center">Настройки</h1>
    <div class="container">
        <div class="form-outline mb-4">
            <label for="status" class="form-label">Статус</label>
            <div id="status" class="form-control">Не подключено</div>
        </div>
        <div class="form-outline mb-4">
            <label for="work-mode-select" class="form-label">Режим работы</label>
            <select id="work-mode-select" class="form-control">
                <option value="bot">Bot</option>
                <option value="operator">Operator</option>
            </select>
        </div>
        <div class="form-outline mb-4" id="welcome-message">
            <label for="welcome_message_inner" class="form-label">Бот-приветствие в чате</label>
            <input type="text" id="welcome_message_inner" class="form-control">
            <button class="btn btn-dark">Сохранить</button>
        </div>
        <div class="form-outline mb-4" id="timeout-message">
            <label for="timeout_message_inner" class="form-label">Бот-приветствие в чате</label>
            <input type="text" id="timeout_message_inner" class="form-control">
            <button class="btn btn-dark">Сохранить</button>
        </div>
    </div>
    <script>
        let socket;
    </script>

    <script>
        let socket_addr = '{{ server.url }}?operator=1';
    </script>

    <script type="text/javascript" src="{{ asset('js/desktop.js') }}?t={{ 'now'|date('U') }}"></script>
{% endblock %}
