<footer>
    <div class="session">
        <div class="archive">
            <img alt="Архивировать" src="/images/archive.png">
        </div>
        <div class="open">
            <span>Сообщений: <span class="message-count"></span></span> |
            <span>Последнее: <span class="last-message"></span></span> |
            <span>Чат начат: <span class="started"></span></span>
            <span style="display: none;" class="printing">| печатает</span>
        </div>

        <div class="chat">
            <div class="messages">
                <div class="message visitor">
                    <div class="datetime"></div>
                    <div class="text"></div>
                </div>
                <div class="message operator">
                    <div class="datetime"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="form">
                <input type="text">
                <button>&gt;</button>
            </div>
        </div>
    </div>
</footer>