{% extends 'base.html.twig' %}

{% block title %}Чаты{% endblock %}

{% block body %}
    <style>
        body {
            font: 15px/17px Arial, sans-serif;
        }

        aside {
            width: 300px;
            float: left;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            height: 100%;
        }

        #status {
            font-weight: bold;
            color: red;
        }

        header {
            border-bottom: 1px solid #fff;
        }

        .session {
            border-bottom: 1px solid #fff;
            padding: 5px;
        }

        main {
            margin-left: 300px;
            width: 700px;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        }

        .chat {
            border-bottom: 1px solid #fff;
            overflow: hidden;
        }

        .messages {
            display: none;
        }

        .message {
            padding: 10px;
            margin: 5px;
            clear: both;
            background: #eee;
            border-radius: 10px;
            float: left;
            max-width: 90%;
        }

        .chat {
            height: 500px;
            overflow-y: scroll;
        }

        .message.operator {
            background: #22ceb6;
            color: #fff;
            float: right;
        }

        .chat-form {
            padding: 3px;
            border-bottom: 1px solid #fff;
        }

        .chat-form input {
            width: 630px;
            line-height: 30px;
        }

        .chat-form button {
            width: 39px;
            height: 39px;
            background: #22ceb6;
            color: #fff;
            border: 1px solid #fff;
            font-size: 23px;
            line-height: 33px;
            font-weight: bold;
            border-radius: 17px;
            cursor: pointer;
        }

        .session a {
            background: #22ceb6;
            width: 250px;
            height: 50px;
            line-height: 50px;
            font-size: 50px;
            text-align: center;
            text-decoration: none;
            color: #fff;
            display: block;
            border-radius: 25px;
        }
        #welcome-message, #timeout-message {
            margin: 5px 0;
        }
        #welcome-message input, #timeout-message input {
            width: 300px;
        }

    </style>

    <header>
        <div id="status">DISCONNECTED</div>
        <div id="work-mode">
            <label for="work-mode-select">
                Режим работы:
            </label>
            <select id="work-mode-select">
                <option value="bot">Bot</option>
                <option value="operator">Operator</option>
            </select>
        </div>
        <div id="welcome-message">
            <label>
                Бот-приветствие в чате:
                <input type="text">
                <button>Сохранить</button>
            </label>
        </div>
        <div id="timeout-message">
            <label>
                Бот-сообщение в нерабочее время:
                <input type="text">
                <button>Сохранить</button>
            </label>
        </div>
    </header>

    <aside></aside>

    <main></main>

    <script>
        var socket;
    </script>

    {% if local %}
        <script>let socket_addr = 'ws://localhost:3001';</script>
    {% else %}
        <script>let socket_addr = 'wss://xn--e1aybc.xn--24-6kchemaby3a4d4erbe.xn--p1ai:3002';</script>
    {% endif %}

    <script>
        function connect() {
            socket = new WebSocket(socket_addr);
            socket.addEventListener("open", function () {
                $('#status').html("CONNECTED");
                let command = {
                    command: 'get_sessions'
                };
                socket.send(JSON.stringify(command));

                command = {
                    command: 'get_work_mode'
                };
                socket.send(JSON.stringify(command));

                command = {
                    command: 'load_welcome_message'
                };
                socket.send(JSON.stringify(command));

                command = {
                    command: 'load_timeout_message'
                };
                socket.send(JSON.stringify(command));
            });

            socket.addEventListener("message", function (e) {
                const message = JSON.parse(e.data);
                switch (message.command) {
                    case 'session':
                        addSession(message.session);
                        queryMessages(message.session.name);
                        break;
                    case 'work_mode':
                        let work_mode = message.work_mode;
                        let select = document.getElementById('work-mode-select');
                        switch (work_mode) {
                            case 'bot':
                                select.selectedIndex = 0;
                                break;
                            default:
                                select.selectedIndex = 1;
                        }
                        break;
                    case 'new_message':
                        addMessage(message);
                        break;
                    case 'welcome_message':
                        $('#welcome-message input').val(message.message);
                        break;
                    case 'timeout_message':
                        $('#timeout-message input').val(message.message);
                        break;
                }
            });

            socket.addEventListener("close", function () {
                $('#status').html("DISCONNECTED");
                $('aside,main').html('');
            });
        }

        connect();

        function scrollToBottom(session) {
            let chatMessages = document.getElementById("chat-" + session);
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }


        function queryMessages(session) {
            const command = {
                command: 'get_op_history',
                session: session
            };
            socket.send(JSON.stringify(command));
        }


        function addMessage(message) {
            let $box = createMessageBox(message.session);
            let classes = "message";
            if (message.isOperator) {
                classes += " operator";
            }
            $box.append('<div class="' + classes + '">' + message.message + '</div>');
            scrollToBottom(message.session);
        }

        function createMessageBox(session) {
            if (!$('#chat-' + session).length) {

                $('main').append('<div class="messages" id="messages-' + session + '"></div>');
                $('#messages-' + session).append('<div class="chat" id="chat-' + session + '"></div>');
                let form = '<div class="chat-form" data-session=" + session + " id="form-' + session + '">'
                    + '    <label>'
                    + '        <input type="text" placeholder="Напишите и нажмите Enter">'
                    + '    </label>'
                    + '    <button>&gt;</button>'
                    + '</div>';
                $('#messages-' + session).append(form);
                formEventListener(session);
            }
            return $('#chat-' + session);
        }

        function addSession(session) {
            let html = '<div class="session" id="session-' + session.name + '">'
                + '</span><br><a href=""'
                + ' data-chat="#messages-' + session.name + '" data-session="'
                + session.name + '">Чат ' + session.id + '</a>'
                + '<br><i><small></small></i></div>';
            $('aside').append(html);
            anchorEventListener(session);
        }

        function anchorEventListener(session) {
            $('#session-' + session.name + '  a').on('click', function (event) {
                event.preventDefault();
                let target = this.dataset.chat;
                let session = this.dataset.session;
                $('#chat-' + session).html('');
                queryMessages(session);
                $('.messages').hide();
                $(target).show();
                scrollToBottom(session);
            })
        }

        function formEventListener(session) {
            $('#form-' + session + ' input').on('keypress', function (event) {
                if (13 === event.keyCode && $.trim(this.value)) {
                    let message = this.value;
                    this.value = '';
                    sendMessage(message, session);
                }
            });
            $('#form-' + session + ' button').on('click', function (event) {
                let message = $('#form-' + session + ' input').val();
                if ($.trim(message)) {
                    $('#form-' + session + ' input').val('');
                    sendMessage(message, session);
                }
            });
        }

        function sendMessage(text, session) {
            const message = {
                command: 'add_op_message',
                session: session,
                message: text,
                name: 'Оператор',
                isOperator: true
            };
            socket.send(JSON.stringify(message));
            scrollToBottom(session);
        }

        setInterval(function () {
            let status = $('#status').html();
            if ('DISCONNECTED' === status) {
                console.log('Trying to connect to server', socket_addr);
                connect();
            }
        }, 10000);

        $('#work-mode-select').on('change', function (event) {
            let work_mode = $('option:selected', this).val();
            let message = {
                command: 'set_work_mode',
                work_mode: work_mode
            };
            message = JSON.stringify(message);
            socket.send(message);
        })

        $('#welcome-message button').on('click', function () {
            let message = $('#welcome-message input').val();
            message = {
                command: 'save_welcome_message',
                message: message
            };
            message = JSON.stringify(message);
            socket.send(message);
        })

        $('#timeout-message button').on('click', function () {
            let message = $('#timeout-message input').val();
            message = {
                command: 'save_timeout_message',
                message: message
            };
            message = JSON.stringify(message);
            socket.send(message);
        })
    </script>
{% endblock %}
